asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.1
colorama==0.4.5
idna==3.3
loguru==0.6.0
mysql==0.0.3
mysql-connector-python==8.0.30
mysqlclient==2.1.1
peewee==3.15.2
protobuf==4.21.5
pyTelegramBotAPI==4.7.0
python-dotenv==0.20.0
requests==2.28.1
sqlparse==0.4.2
tzdata==2022.2
urllib3==1.26.12
win32-setctime==1.1.0
